{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}

<!-- css theme_overrides.css -->
<link href="{{ pathto("_static/theme_overrides.css", True) }}" rel="stylesheet" type="text/css" />

<!-- css back top -->
<!--<link href="../_static/jquerysctipttop.css" rel="stylesheet" type="text/css" />-->
<link href="{{ pathto("_static/jquerysctipttop.css", True) }}" rel="stylesheet" type="text/css" />
<!--<link href="../_static/backTop.css" rel="stylesheet" type="text/css" />-->
<link href="{{ pathto("_static/backTop.css", True) }}" rel="stylesheet" type="text/css" />
<!-- Script -->
<!--<script type="text/javascript" src="../_static/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ pathto("_static/jquery.min.js", True) }}"></script> 

<!-- eu-cookie-lawt -->
<script type="text/javascript" src="{{ pathto("_static/jquery-2.1.3.min.js", True) }}"></script> 
<script type="text/javascript" src="{{ pathto("_static/jquery-eu-cookie-law-popup.js", True) }}"></script> 
<link href="{{ pathto("_static/jquery-eu-cookie-law-popup.css", True) }}" rel="stylesheet" type="text/css" />

 {% endblock %}


{% block footer %}
      {{ super() }}
<div class="eupopup eupopup-top "></div> <!--Ricordati che devi aggiungere nel tuo RDT la pagina dell'informativa privacy -->

	   <!-- script Back To Top  -->
      <div class="footerc">
          <a id='backTop'>Back To Top</a>
 <!-- script toptoback automatico mobile/desktop -->  
 <!-- <script type="text/javascript" src="../_static/jquery.backTop.min.js"></script> -->
<script type="text/javascript" src="{{ pathto("_static/jquery.backTop.min.js", True) }}"></script>
<script>
            $(document).ready( function() {
                $('#backTop').backTop({
                    'position' : 400,
                    'speed' : 300,
                    'color' : 'green',
					
					                });
            });
        </script>
      </div>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- attenzione questo codice di sotto è relativo all'account attivato su addthis da Ciro Spataro per lo schema-tipo-RTD. 
Per ogni Read the Docs è necessario attivare un account o progetto su addthis.com -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c46e18921bc68cf"></script>

{% endblock %}
